@font-face {
    font-family:Baloo2-SemiBold ;
    src: url(../fonts/Baloo_2/static/Baloo2-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family:Baloo2-Bold ;
    src: url(../fonts/Baloo_2/static/Baloo2-Bold.ttf);
    font-weight: 800;
}
@font-face {
    font-family:Inder-Medium ;
    src: url(../fonts/Inter/static/Inter_24pt-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Inder-Regular ;
    src: url(../fonts/Inter/static/Inter_24pt-Regular.ttf);
}



:root{
    --primary-color:#DCF3C2;
    --secondary-color:#87DF5B;
    --tetraty-color:#77c94e;
    --secondary-color-hover:#57BB25;
    --prymary-color-hover:#AFD68F;
    --dark-primary-color:#8FB775;

    /*colores posibles*/
    --light-green: #8aea92ff;
    --mantis: #6bb572ff;
    --shamrock-green: #5b9a62ff;
    --fern-green: #4b7f52ff;
    --cal-poly-green: #265031ff;
    --dark-green: #8FB775;
    --dark-green-2: #01200fff;
    --dark-green-3: #008b09ff;
    --night: #011502ff;
     /* variables numericas*/
     --nav-size:clamp(40px,7vh,60px);
     --aside-size: clamp(50px,5vw,60px);
}
body{
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
}
/*Inicio del navbar*/
.site-header{
    width: 100%;
    position: fixed;
    z-index: 2;
}
.nav-bar {
    background-color: var(--secondary-color);
    height: var(--nav-size);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 
}

.logo-home{
    height: 80%;
    width: auto;
    padding: 0 10px;
}
.logo{
    height: 100%;
    width: auto;
}

.logo-text{
    font-family: Baloo2-Bold;
    font-size: 2rem;
    margin: 0;
    width: 100%;
    
}
.nav-options-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    font-family: Baloo2-SemiBold;
    margin: 0 5px;
    padding: 0;
}
.nav-options-list > li {
    margin: 0 2.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.content-nav-buttons{
    width: 70px;
}
.link-bar{
    text-decoration: none;
    color: #000000;
    font-size: 150%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.icon {
    height: 70%;
    width: auto;
    margin: 0 2.5px;
}

.nav-buttons{
    background-color: transparent;
    height: 90%;
    border: none;
    padding: 0;
}
.content-notification{
    aspect-ratio: 7/9;
    width: 0;
    height: auto;
    background-color: #4784f5;
    position: fixed;
    right: 0;
    margin-top: var(--nav-size);
    top: 0;


}
.active-content-notification{
    width: 20vw;
}

.content-accout {
    aspect-ratio: 2/1;
    width: 0;
    height: auto;
    background-color: #64f547;
    position: fixed;
    right: 4%;
    margin-top: var(--nav-size);
    top: 0;
}
.active-content-accout{
    width: 20vw;
}
@media (width < 800px) {
    .logo-text{
        font-family: Baloo2-Bold;
        font-size: 1.2rem;
        margin: 0;
        
    }
    
}

/*menu burger para nav init*/

.content-menu-burger{
    display: none;
    margin-right: 5px;

}

.button-burger{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.line {
    width:20px;
    height: 3px;
    background-color: black;
    margin : 4px;
    transition: all 0.5s ease;
    transform-origin: right;
    
  }
  .button-burger-active{
    transform: rotate(360deg);
  
  }
  .button-burger-active div:first-child {
    transform: rotate(-45deg);
  }
  .button-burger-active div:nth-child(2) {
    opacity: 0;
    
  }
  .button-burger-active div:last-child {
    transform: rotate(45deg);
  }

.burger-menu{
    display: none;
    overflow: hidden;
    transition: all 1s ease;
    height: 0;
}
.burger-menu-active{
    height: 162px;
}
.burger-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    border: 2px #0000002d solid ;
    list-style: none;
    font-family: Inder-Medium;
    font-size: 120%;
    padding: 0;
    margin: 0;

}
.burger-options >li {
    margin: 5px 0;
    border-bottom:2px #0000002d solid ;
    width: 80%;
    padding: 2px;
    
}
.burger-link{
    color: #000000;
    text-decoration: none;;
}
/*menu burger para nav init*/
@media (width < 600px) {

    .nav-bar-init {
        display: none;
    }

    .content-menu-burger{
        display: block
    }
    .burger-menu{
        display: block;   
    }
    
}
/*Fin del navbar*/

/* inicio del registrate*/

.content-sign-up{
    padding-top: var(--nav-size);
    display: flex;
    flex-direction: row;
    min-height: 93vh;
    width: 100%;
    height: 100%;
}
.sign-up{
    flex-basis: 50%; /* Cada uno toma el 50% del ancho base */
    flex-grow: 1; /* Permite que crezcan para llenar el espacio */
    flex-shrink: 1; /* Permite que se encojan si es necesario */
    padding: 20px; /* Padding interno para el contenido */
    box-sizing: border-box; /* Crucial para que padding no aumente el tamaño */
}

.description{
    background-color: var(--tetraty-color);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.description > h2 {
    font-family: Baloo2-Bold;
    font-size: 180%;
}

.content-form{
    background-color: var(--primary-color);
}

.cuadrado{
    width: 80px;
    height: 80px;
    background-color: red;
    margin: 10px;
}

.sign-up-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}
.subtitulo{
    font-family: Baloo2-Bold;
    font-size: 1.5rem;
    margin: 0;
    
}

.div-campo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: clamp(200px,80%,500px);
    height: fit-content;
    margin: 5px;
    font-family: Inder-Medium;
    font-size: 80%;
}
.campo {
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: #00000056 1px solid ;
}

.sign-up-button{
    width: clamp(60px, 35%, 130px);
    min-height: fit-content;
    height:6%;
    background-color: var(--tetraty-color);
    border: none;
    font-family: Baloo2-SemiBold;
    font-size: 125%;
    border-radius: 10px;
    margin: 10px 0;
}
form > p{
    margin:5px;
    font-family: Inder-Medium;
    text-align: center;
}

form > p > a{
   color: #4784f5;
   text-decoration: none;
   
}

@media (width < 800px) {
    .sign-up-button{
        height:50px;

    }
    .content-sign-up{
        flex-direction: column;
    }
    .description{
        width: 100%;
        height: fit-content;
    }
    .content-form{
        width: 100%;
        height: fit-content;
    }
}

/* fin registrate*/

/*home y opciones principales*/
.content-aside-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--aside-size);
    position: fixed;
    z-index: 500;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    margin-left: 10px;
}

.nav-aside-button{
    box-sizing: border-box;
    aspect-ratio: 1/1;
    width: 100%;
    margin: 5px;
    border: none;
    border-radius: 15px;
    background-color: var(--secondary-color);
    transition: all 0.5s ease;
}
.nav-aside-button:hover{
    transform: scale(1.1);
    background-color: var(--secondary-color-hover);
}

@media (width < 600px) {
    .content-aside-nav{
        top:auto;
        bottom: 0;
        width: auto;
        height: var(--nav-size);
        left:50%;
        transform: translate(-50%, -50%);
        flex-direction: row;
        margin: 0;
    }

    .nav-aside-button{
        width: auto;
        height: 100%;
        background-color: var(--cal-poly-green);
        margin: 1vw;
        

    }
    
}


/* sign-in */

.sign-in{
    aspect-ratio: 1/1;
    position:absolute;
    width: clamp(200px,70vw,500px);
    min-height: fit-content;
    top:50%;
    left: 50%;
    transform: translate(-50%,-55%);
    background-color: var(--secondary-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: var(--nav-size);

}
.sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.logo-log-in{
    width: 70%;
    height: auto;
    margin: 0;

}

.content-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: auto;
    text-align: center;
    margin: 10px 0;
}
.sign-in-button{
    width: clamp(65px, 38%, 135px);
    height:fit-content;
    background-color: var(--tetraty-color);
    padding: 4px;
    margin: 4px 0;
    border: none;
    font-family: Baloo2-SemiBold;
    font-size: 120%;
    border-radius: 10px;
}

@media (width < 600px) {
    .sign-in{
        width:100%;
        height: 100%;
        border-radius: 0;
    }
    .content-logo{

        font-size: 100%;
    }
    
}

/*Fin sign-in*/

/*information*/

.information{
    margin: var(--nav-size) var(--aside-size);
    width: 80%;
    position: absolute;
    left: 20%;
    transform: translate(-20%, 0);
    overflow-y: auto;

}
.information-content{
    margin: 25px 0;
}
.information-header{
    min-width: 100px;
    margin: 0 1rem;
    padding: 5px;
    font-family: Baloo2-SemiBold;
    background-color: var(--secondary-color);
    display: block;
    border-radius: 10px;
    width: 10%;
    text-align: center;
}
.information-link-contend{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 150px;
    column-gap: 1rem;
    row-gap: 2rem;
    margin: 20px 0;
}

.link-content{
    width: 1fr;
    background-color: var(--secondary-color);
    height: 100%;
    border-radius: 10px;
    text-align: center;
    
}

@media (width < 600px) {
    .information{
        margin-top: var(--nav-size);
        margin: var(--nav-size) 0;
        width: 80%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        overflow-y: auto;
    
    }
    .information-link-contend{

        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-auto-rows: 90px;

    }
    .information-header{

        margin: 0 0;
    }



}

/* esto ya es aparte del contactenos */

.contenedor {
    display: flex;
    place-items: center;
    width: 100%;
    height: 25vh;
    text-align: center;
}

.ollie {
    background-color: #87DF5B ;
    width: 100%;
    padding-top: 20px;
    border-radius:  8px;
    text-align: center;
}

/*formulario*/

.cuadro{
    aspect-ratio: 9/11;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -70%);
    height: 50vh;
    width: auto;
    background-color:var(--primary-color);
    box-shadow: 0px 1px 2px #00000080;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cuadro > h2 {
    font-family: SourGummy-Light;
}
.cuadro > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.camp{
    
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 10px;
    position: relative;
}
.logo-form{
    height: clamp(5px,13vh,100px);
    width: auto;
}

.campo {
    width: clamp(300px, 30vw, 500px);
    height: clamp(20px, 6vh, 45px);
    border-radius: 10px;
    transition: all 1s ease;
    border: none;
    background-color: whitesmoke;
    box-sizing: border-box;
    top: 30vh;
}

.label{
    transform: translateY(-30%) scale(0.8);
    font-size: 100%;
    font-family: SourGummy-Light;
    position: absolute;
    left: 0;
    padding: 0.7em;
    margin-left: -0.5em;
    pointer-events: none;
    color: rgb(100, 100, 100);
}

textarea {
  display: block;
  min-width: 300px;
  max-width: 500px;
  width: 50vw;
  height: 20px;
  border-radius: 6px;
}
