.principal-content{
    display: grid;
    grid-template-columns: var(--aside-size) auto;
    grid-template-rows: var(--nav-size) auto;
    grid-template-areas: "nav nav" "aside main";
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.information-content{
    margin: 25px 5%;
}
.information-header{
    min-width: 100px;
    margin: 0 1rem;
    padding: 5px;
    font-family: Baloo2-SemiBold;
    background-color: var(--secondary-color);
    display: block;
    border-radius: 10px;
    width: 10%;
    text-align: center;
}

.information{
    grid-area: main;
    width: 100%;
    height: 95%;
    overflow-y: auto;
    box-sizing: border-box;
    margin: 25px;
    place-self: center;
}

.information-link-contend{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 150px;
    column-gap: 1rem;
    row-gap: 2rem;
    margin: 20px 0;
}

.link-content{
    width: 1fr;
    background-color: var(--secondary-color);
    height: 100%;
    border-radius: 10px;
    text-align: center;
    
}

@media (width < 600px) {
.principal-content{
    grid-template-columns: 1fr;
    grid-template-rows: var(--aside-size) auto 70px;
    grid-template-areas: "nav" "main";
}

    .information{
        width: 100%;
        height: 100%;
        overflow-y: auto;
        margin: 0;
    
    }
    .information-link-contend{

        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-auto-rows: 90px;

    }
    .information-header{

        margin: 0 0;
    }
}