@font-face {
    font-family:Baloo2-SemiBold ;
    src: url(../fonts/Baloo_2/static/Baloo2-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family:Baloo2-Bold ;
    src: url(../fonts/Baloo_2/static/Baloo2-Bold.ttf);
    font-weight: 800;
}
@font-face {
    font-family:Inder-Medium ;
    src: url(../fonts/Inter/static/Inter_24pt-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Inder-Regular ;
    src: url(../fonts/Inter/static/Inter_24pt-Regular.ttf);
}



:root{
    --primary-color:#DEFFB8;
    --secondary-color:#77C954;
    --tetraty-color:#ABE486;
    --hept-color:#0B8335;
    --secondary-color-hover:#57BB25;
    --prymary-color-hover:#AFD68F;
    --dark-primary-color:#8FB775;

    /*colores posibles*/
    --light-green: #8aea92ff;
    --mantis: #6bb572ff;
    --shamrock-green: #5b9a62ff;
    --fern-green: #4b7f52ff;
    --cal-poly-green: #265031ff;
    --dark-green: #8FB775;
    --dark-green-2: #01200fff;
    --dark-green-3: #008b09ff;
    --night: #011502ff;
     /* variables numericas*/
     --nav-size:clamp(40px,7vh,60px);
     --aside-size: clamp(50px,7vw,60px);
     --footer-size: clamp(20px,4vh,50px)
}
body{
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;

    
}
/*Inicio del navbar*/
.nav-bar {
    grid-area: nav_content;
    width: 100%;
    position: sticky;
    z-index: 2;
    background-color: var(--secondary-color);
    height: var(--nav-size);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 
}

.logo-home{
    height: 80%;
    width: auto;
    padding: 0 10px;
}
.logo{
    height: 100%;
    width: auto;
}
.a-principal{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    text-decoration: none;
    color: black;
    gap:8px;
    font-family: Baloo2-SemiBold;
    font-size: 110%;


}

.logo-text{
    font-family: Baloo2-Bold;
    font-size: 2rem;
    margin: 0;
    width: 100%;
    
}
.nav-options{
    width: fit-content;

}
.nav-options-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Baloo2-SemiBold;
    margin: 0 5px;
    padding: 0;
    gap:5px;
}


.content-nav-buttons{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.link-bar{
    text-decoration: none;
    color: #000000;
    font-size: 150%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.link-bar-s{
    background-color: var(--hept-color) ;
    color:white;
    padding : 3px 20px;
    border-radius: 10px;
    margin:  0 10px;
}
.icon {
    height: 25px;
    width: auto;
    margin: 0 2.5px;
}

.nav-buttons{
    background-color: transparent;
    height: 90%;
    border: none;
    padding: 0;
}
.content-notification{
    aspect-ratio: 7/9;
    width: 0;
    height: auto;
    background-color: #4784f5;
    position: fixed;
    right: 0;
    margin-top: var(--nav-size);
    top: 0;


}
.active-content-notification{
    width: 20vw;
}

.content-accout {
    aspect-ratio: 2/1;
    width: 0;
    height: auto;
    background-color: #64f547;
    position: fixed;
    right: 4%;
    margin-top: var(--nav-size);
    top: 0;
}
.active-content-accout{
    width: 20vw;
}
@media (width < 800px) {
    .logo-text{
        font-family: Baloo2-Bold;
        font-size: 1.2rem;
        margin: 0;
        
    }
    
}

/*menu burger para nav init*/

.content-menu-burger{
    display: none;
    margin-right: 5px;

}

.button-burger{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.line {
    width:20px;
    height: 3px;
    background-color: black;
    margin : 4px;
    transition: all 0.5s ease;
    transform-origin: right;
    
  }
  .button-burger-active{
    transform: rotate(360deg);
  
  }
  .button-burger-active div:first-child {
    transform: rotate(-45deg);
  }
  .button-burger-active div:nth-child(2) {
    opacity: 0;
    
  }
  .button-burger-active div:last-child {
    transform: rotate(45deg);
  }

.burger-menu{
    display: none;
    overflow: hidden;
    transition: all 1s ease;
    height: 0;
 
}
.burger-menu-active{
    height: 162px;
}
.burger-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    border: 2px #0000002d solid ;
    list-style: none;
    font-family: Inder-Medium;
    font-size: 120%;
    padding: 0;
    margin: 0;

}
.burger-options >li {
    margin: 5px 0;
    border-bottom:2px #0000002d solid ;
    width: 80%;
    padding: 2px;
    
}
.burger-link{
    color: #000000;
    text-decoration: none;;
}
/*menu burger para nav init*/
@media (width < 600px) {

    .nav-bar-init {
        display: none;
    }

    .content-menu-burger{
        display: block
    }
    .burger-menu{
        display:block;
        position: sticky;
        z-index: 1000;
    }
    
}
/*Fin del navbar*/

/* inicio del registrate*/

.content-sign-up{
    padding-top: var(--nav-size);
    display: flex;
    flex-direction: row;
    min-height: 93vh;
    width: 100%;
    height: 100%;
}
.sign-up{
    flex-basis: 50%; /* Cada uno toma el 50% del ancho base */
    flex-grow: 1; /* Permite que crezcan para llenar el espacio */
    flex-shrink: 1; /* Permite que se encojan si es necesario */
    padding: 20px; /* Padding interno para el contenido */
    box-sizing: border-box; /* Crucial para que padding no aumente el tamaño */
}

.description{
    background-color: var(--tetraty-color);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.description > h2 {
    font-family: Baloo2-Bold;
    font-size: 180%;
}

.content-form{
    background-color: var(--primary-color);
}


.form-contactenos{
    aspect-ratio: 1/1;
    width: clamp(200px, 70vw, 500px);
}
.cuadrado{
    width: 80px;
    height: 80px;
    background-color: red;
    margin: 10px;
}

.sign-up-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}
.subtitulo{
    font-family: Baloo2-Bold;
    font-size: 1.5rem;
    margin: 0;
    
}

.div-campo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: clamp(200px,80%,500px);
    height: fit-content;
    margin: 5px;
    font-family: Inder-Medium;
    font-size: 80%;
}
.campo {
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: #00000056 1px solid ;
    box-sizing: border-box;
}

.sign-up-button{
    width: clamp(60px, 35%, 130px);
    min-height: fit-content;
    height:6%;
    background-color: var(--tetraty-color);
    border: none;
    font-family: Baloo2-SemiBold;
    font-size: 125%;
    border-radius: 10px;
    margin: 10px 0;
}
form > p{
    margin:5px;
    font-family: Inder-Medium;
    text-align: center;
}

form > p > a{
   color: #4784f5;
   text-decoration: none;
   
}

@media (width < 800px) {
    .sign-up-button{
        height:50px;

    }
    .content-sign-up{
        flex-direction: column;
    }
    .description{
        width: 100%;
        height: fit-content;
    }
    .content-form{
        width: 100%;
        height: fit-content;
    }
}

/* fin registrate*/

/*home y opciones principales*/

/*information*/

.information{
    margin: var(--nav-size) var(--aside-size);
    width: 80%;
    position: absolute;
    left: 20%;
    transform: translate(-20%, 0);
    overflow-y: auto;

}
.information-content{
    margin: 25px 0;
}
.information-header{
    min-width: 100px;
    margin: 0 1rem;
    padding: 5px;
    font-family: Baloo2-SemiBold;
    background-color: var(--secondary-color);
    display: block;
    border-radius: 10px;
    width: 10%;
    text-align: center;
}

/*search bar*/

.content-search-bar{
    grid-area: search-bar;
    width: clamp(300px,50%,600px);
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box ;
    place-self: center;

}
.search-bar{
    width: 85%;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    padding:0 10px;

}
.search-bar:focus-within{
    border: 2px solid #000000;
}

.input-search{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 15px;
}
.input-search:focus{
    outline: none;
}

.button-search{
    width: auto;
    height: 60%;
    background-color: transparent;
    border: none;
}

.svg-search{
    width: auto;
    height: 100%;
}
.content-order-filter{
    height: 100%;
    width: 15%;
    background-color: transparent;
    border: none;
    margin: 2px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid:5px;
}
.filter-order-buttons{
    height: 50%;
}


/*pendiente: cambiar el contenido del general por widgets que se pueden reutilizar, como campos de texto, nav bar o la search bar*/
/*aside bar(version nueva)*/
.aside-user{
    grid-area: aside_user;
    width: var(--aside-size);
    height: 100%;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    box-sizing: border-box;
    overflow-y: auto;

}
.aside-admin{
    grid-area: aside_admin;
    width: var(--aside-size);
    height: 100%;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    box-sizing: border-box;
    overflow-y: auto;

}

.aside-movil{
    grid-area: aside_movil;
    height: var(--aside-size);
    width: 100%;
    position: sticky;
    display: none;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-sizing: border-box;
    margin-bottom: 2px;

}

/*acutualizar en el futuro
::-webkit-scrollbar {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb{
    background-color: transparent;
  }
  ::-webkit-scrollbar-track{
    background-color: transparent;
  }
*/

.nav-aside-button{
    box-sizing: border-box;
    aspect-ratio: 1/1;
    width: 100%;
    border: none;
    border-radius: 15px;
    background-color: var(--secondary-color);
    transition: all 0.5s ease;
}
.nav-aside-button:hover{
    transform: scale(1.1);
    background-color: var(--secondary-color-hover);
}
@media (width < 600px) {
    .aside-user{
        display: none;
    }
    .aside-admin{
        display: none;
    }
    .aside-movil{
        display: flex;
    }  
    .nav-aside-button {
          width: auto;
          height: 100%;
          background-color: var(--cal-poly-green);
          margin: 0;
      }
      
}

/*espacio del footer*/
.footer {
    grid-area: footer-content;
    width: 100%;
    height: var(--footer-size);
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:40px;
    box-sizing: border-box;
    font-family: Inder-Medium;
    font-size: 80%;
    
}

.text{
    text-align: center;
    margin: 0;
}

.title {
    font-size: 2rem;
    text-align: center;
    font-family: Baloo2-Bold;
}

.logo-content > .title {
    margin: auto;

}

.description-content{
    font-family: Inder-Medium ;
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 80%;
    gap: 3px;
}

.description-content > ul{
    display: flex;
    flex-direction: column;
    width: clamp(fit-content, 80%, calc(fit-content + 100px));
    gap: 10px;
}

.logo-content{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

.section{
    grid-area: section-content;
    width: 100%;
    min-height: calc(100vh - var(--nav-size) - var(--footer-size));
    background-color: var(--tetraty-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form-content {
    grid-area: form-content;
    background-color: transparent;
    width: 100%;
    height: 100%;


}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

@media (width < 800px){
    .section{
        min-height: fit-content;
        padding:40px 0;
    }
    .description-content{
        width: 100%;
    }


    }

