<!DOCTYPE html>
    <html lang="esp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plantilla de prueba</title>
        <link rel="stylesheet" href="/static/css/general.css">
    </head>
    <body>

<!--AQUI VA EL TEXTO DEL CONTACTENOS-->
    <main class="content-contactenos">
        <div class="content-contactenos-header">
            <h2>Comunicate con nosotros</h2>
            <p>Estamos disponibles para resolver tus dudas y brindarte informacion</p>
        </div> 
        
        <form class="cuadro">
            <div class="div-campo">
                <label for="nombre">Nombre:</label>
                <input class="campo" type="text" id="nombre" name="nombre" value="" required>
                
            </div>

            <div class="div-campo">                
                <label for="correo">Correo:</label>
                <input class="campo" type="email" id="email" name="emil"  required>

            </div>
            <div class="div-campo">
                <label for="tipo_sugerencia">Tipo de mensaje:</label>
                <select class="campo" name="tipo_sugerencia" required>
                    <option value="none">...</option>
                    <option value="queja">Queja</option>
                    <option value="reclamo">Reclamo</option>
                    <option value="sugerencia">Sugerencia</option>
                    <option value="dudas">Dudas</option>
                </select>
            </div>
            <div class="div-campo">
                <label for="mensaje"></label>
                <textarea name="mensaje" placeholder="Escriba su mensaje:"></textarea>
            </div>
            <button id ="boton" class="boton" onclick="transform_loader()">
                Enviar
            </button>

        </form>

        <!--CUADRADO DONDE VA LOS DATOS QUE SE VAN A PEDIR PARA EL CONTACTENOS-->
</main>
