<!DOCTYPE html>
    <html lang="esp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plantilla de prueba</title>
        <link rel="stylesheet" href="../../static/css/home.css">
        <link rel="stylesheet" href="../../static/css/general.css">
    </head>

    <body>
        <div class="principal-content">
            <nav class="nav-bar">
                <div class="logo-home">
                    <a href="#">
                        <img class="logo" src="../../static/images/Money-control(SIMPLE).SVG" alt="logo-principal">
                    </a>
    
                </div>
                <div class="nav-options">
                    <ul class="nav-options-list">
                        <li>
                            <a class="link-bar" href="#">                                   
                                <img class="icon" src="../../static/images/premium.svg">
                                    premium
                            </a>
                        </li>
                        <li class="link-bar">
                            |
                        </li>
                        <li class="content-nav-buttons">
                            <button class="nav-buttons" id="button-notification">
                                <img class="icon" src="../../static/images/Notification.svg" alt="Notifications">
                            </button>
                            <button class="nav-buttons" id="button-accout">
                                <img class="icon" src="../../static/images/Accout.svg" alt="Accout">
                            </button>    
    
                        </li>
                    </ul>
    
                </div>
                <div class="content-notification" id="notification"></div>
                <div class="content-accout" id="accout"></div>
            <script>
        class toggle_notifications {
      constructor(id_obj, id_button, active_class) {
        this.active_class = active_class;
        this.button = document.getElementById(id_button);
        this.obj = document.getElementById(id_obj);
    
        this.button.addEventListener("click", () => {
          this.obj.classList.toggle(this.active_class);
          console.log(`Toggle ejecutado: ${id_obj}`);
        });
      }
    }
    
    // 👇 Crear instancias fuera de la clase
    const notification = new toggle_notifications(
      "notification",
      "button-notification",
      "active-content-notification"
    );
    
    const account = new toggle_notifications(
      "accout",
      "button-accout",
      "active-content-accout"
    );
    
        </script>
            </nav>
    
            <aside class="aside-user">
                <button class="nav-aside-button">

                </button>
                <button class="nav-aside-button">

                </button>
                <button class="nav-aside-button">

                </button>
                <button class="nav-aside-button">

                </button>
                <button class="nav-aside-button">

                </button>

            </aside>

            <main class="home-content">
                <div class="service-content">
                    <h2 class="s-title">Hola Jhoan Sanchez</h2>
                    <div class="user-service-content">
                        <h3 class="title-cash">$23 000COP</h3>
                        <div class="services">
                            <button class="service-button">
                                <img src="../../static/images/remove-cash.svg">                                    
                                    
                                <h4>Agregar gasto</h4>
                                    
                                    

                            </button>
                            <button class="service-button">
                                <img src="../../static/images/add-cash.svg">  
                                    

                                    <h4>Agregar ingreso</h4>
                                    

                            </button>
                            <button class="service-button">
                                <img src="../../static/images/more-row.svg">  

                                    
                                    <h4> mas</h4>
                                    
                                    

                            </button>
                        </div>
                    </div>
                </div>
                <div class="movements-content">
                    <h2 class="s-title">Transacciones recientes</h2>

                    <div id="movements" class="movements-scroll">
                        <div class="transaction-content">
                            <div class="information-content">
                                <span>Supermercado</span>
                                <time datetime="2025-06-28">28 Jun., 2025</time>
                            </div>
                            <div>
                                -$75&nbsp;460&nbsp;COP
                            </div>
                        </div> 
                        <div class="transaction-content">
                            <div class="information-content">
                                <span>Supermercado</span>
                                <time datetime="2025-06-28">28 Jun., 2025</time>
                            </div>
                            <div>
                                -$75&nbsp;460&nbsp;COP
                            </div>
                        </div> 
                        <div class="transaction-content">
                            <div class="information-content">
                                <span>Supermercado</span>
                                <time datetime="2025-06-28">28 Jun., 2025</time>
                            </div>
                            <div>
                                -$75&nbsp;460&nbsp;COP
                            </div>
                        </div> 
                        <div class="transaction-content">
                            <div class="information-content">
                                <span>Supermercado</span>
                                <time datetime="2025-06-28">28 Jun., 2025</time>
                            </div>
                            <div>
                                -$75&nbsp;460&nbsp;COP
                            </div>
                        </div> 
                        <div class="transaction-content">
                            <div class="information-content">
                                <span>Supermercado</span>
                                <time datetime="2025-06-28">28 Jun., 2025</time>
                            </div>
                            <div>
                                -$75&nbsp;460&nbsp;COP
                            </div>
                        </div> 
                        <div class="transaction-content">
                            <div class="information-content">
                                <span>Supermercado</span>
                                <time datetime="2025-06-28">28 Jun., 2025</time>
                            </div>
                            <div>
                                -$75&nbsp;460&nbsp;COP
                            </div>
                        </div> 

                        <div class="transaction-content">
                            <div class="information-content">
                                <span>Supermercado</span>
                                <time datetime="2025-06-28">28 Jun., 2025</time>
                            </div>
                            <div>
                                -$75&nbsp;460&nbsp;COP
                            </div>
                        </div> 
                        <div class="transaction-content">
                            <div class="information-content">
                                <span>Supermercado</span>
                                <time datetime="2025-06-28">28 Jun., 2025</time>
                            </div>
                            <div>
                                -$75&nbsp;460&nbsp;COP
                            </div>
                        </div> 
                        <div class="transaction-content">
                            <div class="information-content">
                                <span>Supermercado</span>
                                <time datetime="2025-06-28">28 Jun., 2025</time>
                            </div>
                            <div>
                                -$75&nbsp;460&nbsp;COP
                            </div>
                        </div> 
                        <div class="transaction-content">
                            <div class="information-content">
                                <span>Supermercado</span>
                                <time datetime="2025-06-28">28 Jun., 2025</time>
                            </div>
                            <div>
                                -$75&nbsp;460&nbsp;COP
                            </div>
                        </div> 
                        <div class="transaction-content">
                            <div class="information-content">
                                <span>Supermercado</span>
                                <time datetime="2025-06-28">28 Jun., 2025</time>
                            </div>
                            <div>
                                -$75&nbsp;460&nbsp;COP
                            </div>
                        </div> 
                        <div class="transaction-content">
                            <div class="information-content">
                                <span>Supermercado</span>
                                <time datetime="2025-06-28">28 Jun., 2025</time>
                            </div>
                            <div>
                                -$75&nbsp;460&nbsp;COP
                            </div>
                        </div> 
                        <div class="transaction-content">
                            <div class="information-content">
                                <span>Supermercado</span>
                                <time datetime="2025-06-28">28 Jun., 2025</time>
                            </div>
                            <div>
                                -$75&nbsp;460&nbsp;COP
                            </div>
                        </div> 

                    </div> 
                </div>             

            </main>

          
        </div>
        <div class="modal-pb modal-pb-off" id="modal">
            <div class="ventana">
                <button onclick= "modaltogle()" ></button>
            </div>
        </div>
        <script>
            const movemnt = document.getElementById("movements");
            const modal = document.getElementById("modal");
            movemnt.addEventListener("click", () => modaltogle())


            function modaltogle() {
                modal.classList.toggle("modal-pb-on");
            }

        </script>

<!--AQUI EMPIEZA EL SCRIPT PARA QUE SALGAN LAS VENTAJAS DE INGRESOS GASTOS Y MAS (los gatos son placeholders)-->
<div id="ollie" class="imagen">
    <div class="contenido">
        <span class="cerrar">&times;</span>
    </div>
</div>
<script>
    var imagen = document.getElementById("ollie");
    var raul = document.getElementById("botonsito");
    var x = document.getElementsByClassName("cerrar")[0]

    raul.onclick = function() {
        imagen.style.display = "block";
    }
    x.onclick = function() {
        imagen.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == imagen) {
            imagen.style.display = "none";
        }
    }
</script>


<div id="ollie2" class="imagen2">
    <div class="contenido2">
        <span class="cerrar2">&times;</span>
    </div>
</div>
<script>
    var imagen2 = document.getElementById("ollie2");
    var raul2 = document.getElementById("ingresos");
    var x2 = document.getElementsByClassName("cerrar2")[0]

    raul2.onclick = function() {
        imagen2.style.display = "block";
    }
    x2.onclick = function() {
        imagen2.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == imagen2) {
            imagen2.style.display = "none";
        }
    }
</script>



<div id="ollie3" class="imagen3">
    <div class="contenido3">
        <span class="cerrar3">&times;</span>
    </div>
</div>
<script>
    var imagen3 = document.getElementById("ollie3");
    var raul3 = document.getElementById("mas");
    var x3 = document.getElementsByClassName("cerrar3")[0]

    raul3.onclick = function() {
        imagen3.style.display = "block";
    }
    x3.onclick = function() {
        imagen3.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == imagen3) {
            imagen3.style.display = "none";
        }
    }
</script>
    </body>