<!DOCTYPE html>
    <html lang="esp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plantilla de prueba</title>
        <link rel="stylesheet" href="../../static/css/general.css">
    </head>
    <body>
        <main class="content-home">        
                <div class="content-mov">
                    <p>hola yasuri yamile</p>
                    <p>$ 20640 COP</p>
                    <ul>
                        <li>
                            <button>
                                
                            </button>
                        </li>
                        <li>
                            <button>
                                
                            </button>
                        </li>
                        <li>
                            <button>
                                
                            </button>
                        </li>


                    </ul>
                </div>

            <div>
                <p>transacciones</p>
                <div>
                    <div></div>
                    <div></div>
                </div>
            </div>
    </main>

        
    </body>