<!DOCTYPE html>
    <html lang="esp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plantilla de prueba</title>
        <link rel="stylesheet" href="../../static/css/general.css">
        <link rel="stylesheet" href="../../static/css/index.css">
    </head>

    <body>
        <div class="principal-content">
            <nav></nav>
            <main class="main">
                <h2>¿El dinero se te escapa antes de fin de mes?</h2>
                <h4>Es hora de tomar el control</h4>

                <div class="intro">
                    <div class="intro-list">
                        <ul>
                            <li>Organiza tus gastos fácilmente</li>
                            <li>Planea metas financieras</li>
                            <li>Aprende a gestionar deudas</li>
                          </ul>
                          <a href="/registro" class="btn">Regístrate</a>
                    </div>

                    <img src="../../static/images/index.svg"> 

                </div>

                <h3>Todo lo que nececitas para dominar tus  finanzas en un solo lugar</h3>
                

                <h3>Facil y sencillo como</h3>

            
            </main>
            <footer></footer>

        </div>
    </body>