<!DOCTYPE html>
    <html lang="esp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plantilla de prueba</title>
        <link rel="stylesheet" href="../../static/css/general.css">
        <link rel="stylesheet" href="../../static/css/index-2.css">
    </head>

    <body>
        <div class="principal-content">
            <nav></nav>
            <h2 class="title">¿El dinero se te escapa  antes de fin de mes?</h2>
            <div class="section-1">
                <p>Es hora de tomar el control</p>
                <ul>
                    <li>Organiza tus gastos facilmente</li>
                    <li>Planea metas financieras </li>
                    <li>Aprende a gestionar deudas</li>
                </ul>
                <a href="../templates/registro(FINAL).html">Registrate</a>
            </div>
            <img class="section-1-image" src="../../static/images/index.svg">


        </div>
    </body>