<!DOCTYPE html>
    <html lang="esp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plantilla de prueba</title>
        <link rel="stylesheet" href="../../static/css/general.css">
    </head>
    <body>
        <main class="information">
            <div class="information-content">
                <h3 class="information-header">Videos</h3>
                <div class="information-link-contend">
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                </div>
    
    
            </div>
            <div class="information-content">
                <h3 class="information-header">Articulos</h3>
                <div class="information-link-contend">
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                </div>
                
            </div>
            <div class="information-content">
                <h3 class="information-header">Guias</h3>
                <div class="information-link-contend">
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                </div>
            </div>
        </main>
        
        
    </body>