<!DOCTYPE html>
    <html lang="esp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plantilla de prueba</title>
        <link rel="stylesheet" href="../../static/css/general.css">
        <link rel="stylesheet" href="../../static/css/inicio_de_sesion.css">
    </head>
    <body>

        <main>
            <div class="sign-in">
                <form class="sign-in-form">
                    <div class="content-logo">
                        <img class="logo-log-in" src="../../static/images/Money-control(SIMPLE).SVG">
                        <h2 class="subtitulo"> Money control</h2>
                    </div>

                    <p> Inicia sesion para acceder a todos nuestros servicios</p>
                    <div class="div-campo">
                        <label  for="email">Email</label>
                        <input class="campo" type="text" id="email" name="email" required>
                    </div>
                    <div class="div-campo">
                        <label  for="password">Contraseña</label> 
                        <input class="campo" type="text" id="name" name="password" required>
                    </div>
                    <button class="sign-in-button"> Iniciar sesion</button>
                    <p> ¿Eres nuevo? <a href="#">Registrate</a></p>
                    <p>¿Olvidaste la contraseña? <a href="#">Recuperar cuenta</a> </p>
                </form>
            </div>
        </main>


    </body>