<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla de prueba</title>
    <link rel="stylesheet" href="../../static/css/general.css">
</head>


<nav class="nav-bar">
    <div class="logo-home">
        <a href="{{ url_for('academy')}}">
            <img class="logo" src="../../static/images/Money-control(SIMPLE).SVG" alt="logo-principal">
        </a>

    </div>
    <div class="nav-options">
        <ul class="nav-options-list">
            <li>
                <a class="link-bar" href="#">                                   
                    <img class="icon" src="../../static/images/premium.svg">
                        premium
                </a>
            </li>
            <li class="link-bar">
                |
            </li>

            <!--{% if user_rol == 0 %}!-->
            <button class="nav-buttons" id="button-admin">
                <img class="icon" src="../../static/images/admin.svg" alt="admin">
            </button> 
            <!--{% endif %}!-->


            <li class="content-nav-buttons">
                <button class="nav-buttons" id="button-notification">
                    <img class="icon" src="../../static/images/Notification.svg" alt="Notifications">
                </button>
                <button class="nav-buttons" id="button-accout">
                    <img class="icon" src="../../static/images/Accout.svg" alt="Accout">
                </button>    

            </li>
        </ul>

    </div>

    <div class="accout-menu" id="accout-menu"></div>
    <div class="notification-menu" id="notification-menu"></div>
    <div class="admin-menu" id="admin-menu"></div>



<script>
    class menus_toggle {
        static menus = [];
        constructor (button_id,menu_id) {
            this.button = document.getElementById(button_id);
            this.menu = document.getElementById(menu_id);
            menus_toggle.menus.push(menu_id);
            this.button.addEventListener("click", () => {
                event.stopPropagation();
                this.menu.classList.toggle('active');
                console.log(`Toggle ejecutado: ${menu_id}`);
                menus_toggle.menus.forEach (menu => {
                    if (menu != menu_id) {
                        document.getElementById(menu).classList.remove('active');
                    }
                    console.log(menu)
        });
        });

        this.menu.addEventListener("click", () => {
            event.stopPropagation();
            console.log('click en menu');
        });

        document.addEventListener('click', () => {
            this.menu.classList.remove('active');
            console.log('click');

        });
        }

        verlista () {
            return menus_toggle.menus;
        }

    }


    const ele1 = new menus_toggle('button-accout','accout-menu');
    const ele2 = new menus_toggle('button-notification','notification-menu');
    const ele3 = new menus_toggle('button-admin','admin-menu');

    console.log(ele1.verlista());
    console.log(ele2.verlista());

</script>
</nav>