<!DOCTYPE html>
    <html lang="esp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plantilla de prueba</title>
        <link rel="stylesheet" href="../../static/css/general.css">
    </head>
    <body>
        <header class="site-header">
            <nav class="nav-bar">
                <div class="logo-home">
                    <a href="#" class="a-principal">
                        <img class="logo" src="../../static/images/Money-control(SIMPLE).SVG" alt="logo-principal">
                        <h2>Money Control</h2>
                    </a>

                </div>

                <div class="nav-options">
                    <ul class="nav-options-list nav-bar-init">
                        <li>
                            <a class="link-bar" href="#">Iniciar sesion</a>
                        </li>
                        <li class="link-bar">
                            |
                        </li>
                        <li>
                            <a class="link-bar" href="#">Registrate</a>
                        </li>
                    </ul>

                </div>

                <div class ="content-menu-burger">
                    <button id="button-burger" class="button-burger" onclick="open_close_burger()">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </button>
                </div>

            </nav>
            <div id="burger-menu" class="burger-menu">
                <ul class="burger-options">
                    <li>
                        <a class="burger-link" href="#">
                            Iniciar sesion
                        </a>
                    </li>
                    <li>
                        <a class="burger-link" href="#">
                            Registrate
                        </a>
                    </li>
                    <li>
                        <a class="burger-link" href="#">
                            Conócenos
                        </a>
                    </li>
                    <li>
                        <a class="burger-link" href="#">
                            Contactanos
                        </a>
                    </li>
                </ul>

            </div>
        </nav>
        <script src="../../js/nav-bar-init.js"></script>
        </header>

    </body>