<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Plantilla Web Responsive</title>
  <style>
    .cuadrado {
      width: 100px;
      height: 100px;
    }
    .cuadrado2 {
      width: 800px;
      height: 100px;
    }

    .cuadrado.up{
      background-color: blue;
    }
    .cuadrado2.up {
      background-color: red;
    }
 
  </style>
</head>
<body>
  <div class="cuadrado up"></div>
  <div class="cuadrado2 up"></div>
</body>
</html>