<!DOCTYPE html>
    <html lang="esp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plantilla de prueba</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/crud.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    </head>

        <div class="principal-content">
            
            {% include 'nav-bar-pri.html' %}

            <header class="header-crud">
                Lista de usarios
            </header>

            {% include 'aside.html' %}
    

            <main class="crud-content">
                <div class="content-search-bar">
                    <div class="search-bar">
                        <input class="input-search" type="text" placeholder="Buscar">
                        <button class="button-search">
                            <img class="svg-search" src="{{ url_for('static', filename='img/search.svg') }}" alt="search">
                        </button>
                    </div>
    
                    <div class="content-order-filter">
                        <button class="button-search">
                            <img class="svg-search" src="{{ url_for('static', filename='img/order.svg') }}">
                        </button>
                        <button class="button-search">
                            <img class="svg-search" src="{{ url_for('static', filename='img/filter.SVG') }}">
                        </button>
                    </div>
                </div>

                <form class="users-content">
                    
                {%for users in users%}
                    <div class="div-user">
                        <ul>
                            <li>
                                <input type="radio" name="user" value="{{users | tojson}}">
                            </li>
                            <li>
                                {{users[0]}}
                            </li>
                            <li>
                                {{users[1]}}
                            </li>
                            <li>
                                {{users[2]}}
                            </li>
                            <li>
                                {{users[4]}}
                            </li>
                            <li>
                                {{users[5]}}
                            </li>
                            <li>
                                {{users[10]}}
                            </li>


                            <li class="more-button-content">
                                <button class="more-button" name="more">
                                    <img class="svg-search" src="{{ url_for('static', filename='img/more.SVG') }}" alt="...">
                                </button>
                            </li>
                        </ul>
                    </div>
                {%endfor%}

                </form>

                <div class="crud-buttons-content">
                    <button class="crud-button" id="add-user-btn">Agregar usuario</button>
                    <button class="crud-button" id="del-btn" onclick="obt_sel()">Eliminar usuario</button>
                    <button class="crud-button" id="act-btn">Actualizar usuario</button>
                </div>
            </main>
            
        </div>
        

        <div class="modal-add-user">
            <div class="add-user">
                <span class="close_btn" id="close-modal-btn">&times;</span>
                <h2>Agregar usuario</h2>
                <form class="add-user-form" method="post" action="{{ url_for('add_user') }}">

                    <div class="div-campo">
                        <label for="firstname">Nombre:</label>
                        <input class="campo" type="text" id="firstname" name="firstname" required>
                    </div>
                    <div class="div-campo">
                        <label for="lastname">Apellido:</label>
                        <input class="campo" type="text" id="lastname" name="lastname" required>
                    </div>

                    <div class="div-campo">
                        <label for="email">Email:</label>
                        <input class="campo" type="email" id="email" name="email" required>
                    </div>

                    <div class="div-campo">
                        <label for="telefono">Teléfono:</label>
                        <input class="campo" type="tel" id="telefono" name="telefono" required>
                    </div>

                    <div class="div-campo">
                        <label for="password">Contraseña:</label>
                        <input class="campo" type="password" id="password" name="password" required>
                    </div>

                    <div class="div-campo">
                        <label for="nacimiento">Fecha de nacimiento:</label>
                        <input class="campo" type="date" id="nacimiento" name="nacimiento" required>
                    </div>

                    <div class="div-campo">
                        <label for="tipo_usuario">Tipo de usuario:</label>
                        <select class="campo" id="tipo_usuario" name="tipo_usuario" required>
                            <option value=0>Admin</option>
                            <option value=1>User</option>

                        </select>
                    </div>

                    <button class="form_button"  type="submit">Agregar</button>

                </form>

            </div>
        </div>
        
        <div class="del-confirm">
            <div class="window-del">
                <span class="close_btn" id="close-modal-btn">&times;</span>
                <h3 class="del-title">¿Está seguro de borrar al usuario <span id="name"></span> </h3>
                <div class="del-actions">
                    <button class="confirm-btn" id="confirm-delete-btn">Aceptar</button>
                    <button class="cancel_btn cancel">Cancelar</button>
                </div>
            </div>
        </div>

        <div class="modal-act-user">
            <div class="add-user">
                <span class="close_btn" id="close-modal-btn">&times;</span>
                <h2>Actualizar usuario</h2>
                <form class="add-user-form" method="post" action="{{ url_for('crud') }}">

                    <div class="div-campo">
                        <label for="firstname">Nombre:</label>
                        <input class="campo" type="text" id="firstname" name="firstname" required>
                    </div>
                    <div class="div-campo">
                        <label for="lastname">Apellido:</label>
                        <input class="campo" type="text" id="lastname" name="lastname" required>
                    </div>

                    <div class="div-campo">
                        <label for="email">Email:</label>
                        <input class="campo" type="email" id="email" name="email" required>
                    </div>

                    <div class="div-campo">
                        <label for="telefono">Teléfono:</label>
                        <input class="campo" type="tel" id="telefono" name="telefono" required>
                    </div>

                    <div class="div-campo">
                        <label for="password">Contraseña:</label>
                        <input class="campo" type="password" id="password" name="password" required>
                    </div>

                    <div class="div-campo">
                        <label for="tipo_usuario">Tipo de usuario:</label>
                        <select class="campo" id="tipo_usuario" name="tipo_usuario" required>
                            <option value="admin">Admin</option>
                            <option value="user">User</option>

                        </select>
                    </div>

                    <div class="del-actions">
                        <button class="form_button"  type="submit">Actualizar</button>
                        <button class="form_button cancel"  type="button">Cancelar</button>
                    </div>
                </form>

            </div>
        </div>


    </body>

    <script>
        class modal {
            constructor(modal, btn) {
                this.modal = document.querySelector(modal);
                this.btn = document.getElementById(btn);
                // seleccionar los botones de cierre dentro del modal
                this.btn_close = this.modal.querySelectorAll(".close_btn");
                this.cancel_btn = this.modal.querySelectorAll(".cancel");

                this.btn.addEventListener("click", () => {
                    this.modal.classList.toggle("active");
                    console.log(modal, "toggle click");
                });

                this.btn_close.forEach(close => {
                    close.addEventListener("click", () => {
                        this.modal.classList.remove("active");
                        console.log(modal, "close click");
                    });
                });
                this.cancel_btn.forEach(close => {
                    close.addEventListener("click", () => {
                        this.modal.classList.remove("active");
                    });
                });
            }
        }

        const add_user = new modal(".modal-add-user", "add-user-btn");
        const del_user = new modal(".del-confirm", "del-btn");
        const act_user = new modal(".modal-act-user", "act-btn");

        async function obt_sel() {
            const select = document.querySelector('input[name="user"]:checked').value;
            const spanName = document.getElementById("name");
            spanName.textContent = select[1];
            if (select) {
                console.log("Usuario seleccionado con ID:", select);
            } else {
                console.log("No se ha seleccionado ningún usuario.");
            }

          /*  const respuesta = await fetch('/admin/consult', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ user_id: select })
            });
            data = await respuesta.json();

            console.log(data.info);*/
        }
    </script>

</html>
