
        <aside class="aside">
            <a href="/home" class="aside-button">
                <img class="aside-icon "  src="{{ url_for('static', filename='img/cash.svg') }}" alt="cash">  
            </a>
            <a href="/comming-soon" class="aside-button">

            </a>
            <a href="/comming-soon" class="aside-button">

            </a>
            <a href="/comming-soon" class="aside-button">

            </a>
            <a class="aside-button" href="/academy">
                <img class="aside-icon"  src="{{ url_for('static', filename='img/academy.svg') }}" alt="academy">
            </a>

        </aside>