<!DOCTYPE html>
    <html lang="esp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plantilla de prueba</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/contac-sign-up.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    </head>
    <body>
        <div class="principal-content">

            {% include 'nav-bar-init.html' %}
            <!-- fin de la seccion -->
            <div class="section">
                <div class="logo-content">
                    <img class="logo" src="{{ url_for('static', filename='img/Money-control(SIMPLE).svg') }}" alt="logo">
                    <h2 class="title">Money Control</h2>
                  
                </div>
                <div class="description-content">
                    <p class="text">Aqui puedes:</p>
                        <ul>
                            <li>Hacer peticiones, quejas o reclamos</li>
                            <li>Mandarnos sugerencias, opiniones y dudas</li>
                            <li>Notificarnos de errores y bug en Money Control</li>
                            <li>calificarnos y darnos ideas para futuras implementaciones</li>
                        </ul>
                    <p class="text">En cuanto recibamos tu mensaje lo evaluaremos y mandaremos una respuesta al correo registrado</p>
                </div>
 
            </div>
            <!--cambiar la clase section a futuro cuando halla un nombre optimo-->
            <div class="form-content">
                <form class="form">
                    <h2 class="title">Quejas, reclamos, opiniones y sugerencias</h2>
                    <div class="div-campo">
                        <label  for="name">Nombre</label>
                        <input class="campo" type="text" id="name" name="name" required>
                    </div>
                    <div class="div-campo">
                        <label  for="apellido">apellido</label>
                        <input class="campo" type="text" id="lastname" name="apellido" required>
                    </div>
                    <div class="div-campo">
                        <label  for="email">correo</label>
                        <input class="campo" type="text" id="email" name="email" required>
                    </div>
                    <div class="div-campo">
                        <label  for="message">mensaje</label>
                        <textarea class="campo" type="text" id="message" name="message" required></textarea>
                    </div>

                    <button class="sign-up-button" type="submit">Enviar</button>
                </form>

        </div>

        {% include 'footer.html' %}
        </div>
    </body>