<!DOCTYPE html>
    <html lang="esp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plantilla de prueba</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/crud.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    </head>

    <body>
        <div class="principal-content">
            
            {% include 'nav-bar-pri.html' %}

            <header class="header-crud">
                Lista de usarios
            </header>
    
            <aside class="aside-user">
                <button class="nav-aside-button">

                </button>
                <button class="nav-aside-button">

                </button>
                <button class="nav-aside-button">

                </button>
                <button class="nav-aside-button">

                </button>
                <button class="nav-aside-button">

                </button>

            </aside>

            <main class="crud-content">
                <div class="content-search-bar">
                    <div class="search-bar">
                        <input class="input-search" type="text" placeholder="Buscar">
                        <button class="button-search">
                            <img class="svg-search" src="../../static/images/search.svg" alt="search">
                        </button>
                    </div>
    
                    <div class="content-order-filter">
                        <button class="button-search">
                            <img class="svg-search" src="../../static/images/order.svg">
                        </button>
                        <button class="button-search">
                            <img class="svg-search" src="../../static/images/filter.svg">
                        </button>
                    </div>
                </div>

                <div class="users-content">
                    <div class="div-user">
                        <ul>
                            <li>
                                id
                            </li>
                            <li>
                                firstname
                            </li>
                            <li>
                                lastname
                            </li>
                            <li>
                                email
                            </li>
                            <li>
                                phone
                            </li>

                            <li class="more-button-content">
                                <button class="more-button" name="more">
                                    <img class="svg-search" src="../../static/images/more.svg" alt="...">
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="div-user">
                        <ul>
                            <li>
                                id
                            </li>
                            <li>
                                firstname
                            </li>
                            <li>
                                lastname
                            </li>
                            <li>
                                email
                            </li>
                            <li>
                                phone
                            </li>

                            <li class="more-button-content">
                                <button class="more-button" name="more">
                                    <img class="svg-search" src="../../static/images/more.svg" alt="...">
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="div-user">
                        <ul>
                            <li>
                                id
                            </li>
                            <li>
                                firstname
                            </li>
                            <li>
                                lastname
                            </li>
                            <li>
                                email
                            </li>
                            <li>
                                phone
                            </li>

                            <li class="more-button-content">
                                <button class="more-button" name="more">
                                    <img class="svg-search" src="../../static/images/more.svg" alt="...">
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="div-user">
                        <ul>
                            <li>
                                id
                            </li>
                            <li>
                                firstname
                            </li>
                            <li>
                                lastname
                            </li>
                            <li>
                                email
                            </li>
                            <li>
                                phone
                            </li>

                            <li class="more-button-content">
                                <button class="more-button" name="more">
                                    <img class="svg-search" src="../../static/images/more.svg" alt="...">
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="div-user">
                        <ul>
                            <li>
                                id
                            </li>
                            <li>
                                firstname
                            </li>
                            <li>
                                lastname
                            </li>
                            <li>
                                email
                            </li>
                            <li>
                                phone
                            </li>

                            <li class="more-button-content">
                                <button class="more-button" name="more">
                                    <img class="svg-search" src="../../static/images/more.svg" alt="...">
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="div-user">
                        <ul>
                            <li>
                                id
                            </li>
                            <li>
                                firstname
                            </li>
                            <li>
                                lastname
                            </li>
                            <li>
                                email
                            </li>
                            <li>
                                phone
                            </li>

                            <li class="more-button-content">
                                <button class="more-button" name="more">
                                    <img class="svg-search" src="../../static/images/more.svg" alt="...">
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="div-user">
                        <ul>
                            <li>
                                id
                            </li>
                            <li>
                                firstname
                            </li>
                            <li>
                                lastname
                            </li>
                            <li>
                                email
                            </li>
                            <li>
                                phone
                            </li>

                            <li class="more-button-content">
                                <button class="more-button" name="more">
                                    <img class="svg-search" src="../../static/images/more.svg" alt="...">
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="div-user">
                        <ul>
                            <li>
                                id
                            </li>
                            <li>
                                firstname
                            </li>
                            <li>
                                lastname
                            </li>
                            <li>
                                email
                            </li>
                            <li>
                                phone
                            </li>

                            <li class="more-button-content">
                                <button class="more-button" name="more">
                                    <img class="svg-search" src="../../static/images/more.svg" alt="...">
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="div-user">
                        <ul>
                            <li>
                                id
                            </li>
                            <li>
                                firstname
                            </li>
                            <li>
                                lastname
                            </li>
                            <li>
                                email
                            </li>
                            <li>
                                phone
                            </li>

                            <li class="more-button-content">
                                <button class="more-button" name="more">
                                    <img class="svg-search" src="../../static/images/more.svg" alt="...">
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="div-user">
                        <ul>
                            <li>
                                id
                            </li>
                            <li>
                                firstname
                            </li>
                            <li>
                                lastname
                            </li>
                            <li>
                                email
                            </li>
                            <li>
                                phone
                            </li>

                            <li class="more-button-content">
                                <button class="more-button" name="more">
                                    <img class="svg-search" src="../../static/images/more.svg" alt="...">
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="div-user">
                        <ul>
                            <li>
                                id
                            </li>
                            <li>
                                firstname
                            </li>
                            <li>
                                lastname
                            </li>
                            <li>
                                email
                            </li>
                            <li>
                                phone
                            </li>

                            <li class="more-button-content">
                                <button class="more-button" name="more">
                                    <img class="svg-search" src="../../static/images/more.svg" alt="...">
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="div-user">
                        <ul>
                            <li>
                                id
                            </li>
                            <li>
                                firstname
                            </li>
                            <li>
                                lastname
                            </li>
                            <li>
                                email
                            </li>
                            <li>
                                phone
                            </li>

                            <li class="more-button-content">
                                <button class="more-button" name="more">
                                    <img class="svg-search" src="../../static/images/more.svg" alt="...">
                                </button>
                            </li>
                        </ul>
                    </div>                    <div class="div-user">
                        <ul>
                            <li>
                                id
                            </li>
                            <li>
                                firstname
                            </li>
                            <li>
                                lastname
                            </li>
                            <li>
                                email
                            </li>
                            <li>
                                phone
                            </li>

                            <li class="more-button-content">
                                <button class="more-button" name="more">
                                    <img class="svg-search" src="../../static/images/more.svg" alt="...">
                                </button>
                            </li>
                        </ul>
                    </div>                    <div class="div-user">
                        <ul>
                            <li>
                                id
                            </li>
                            <li>
                                firstname
                            </li>
                            <li>
                                lastname
                            </li>
                            <li>
                                email
                            </li>
                            <li>
                                phone
                            </li>

                            <li class="more-button-content">
                                <button class="more-button" name="more">
                                    <img class="svg-search" src="../../static/images/more.svg" alt="...">
                                </button>
                            </li>
                        </ul>
                    </div>                    <div class="div-user">
                        <ul>
                            <li>
                                id
                            </li>
                            <li>
                                firstname
                            </li>
                            <li>
                                lastname
                            </li>
                            <li>
                                email
                            </li>
                            <li>
                                phone
                            </li>

                            <li class="more-button-content">
                                <button class="more-button" name="more">
                                    <img class="svg-search" src="../../static/images/more.svg" alt="...">
                                </button>
                            </li>
                        </ul>
                    </div>                    <div class="div-user">
                        <ul>
                            <li>
                                id
                            </li>
                            <li>
                                firstname
                            </li>
                            <li>
                                lastname
                            </li>
                            <li>
                                email
                            </li>
                            <li>
                                phone
                            </li>

                            <li class="more-button-content">
                                <button class="more-button" name="more">
                                    <img class="svg-search" src="../../static/images/more.svg" alt="...">
                                </button>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="crud-buttons-content">
                    <button class="crud-button"></button>
                    <button class="crud-button"></button>
                    <button class="crud-button"></button>
                </div>

            </main>

            <aside class="aside-admin">
                <button class="nav-aside-button">

                </button>
                <button class="nav-aside-button">

                </button>
                <button class="nav-aside-button">

                </button>

                <button class="nav-aside-button">

                </button>
                <button class="nav-aside-button">

                </button>
            </aside>

            <aside class="aside-movil">
                <button class="nav-aside-button">

                </button>
                <button class="nav-aside-button">

                </button>
                <button class="nav-aside-button">

                </button>
                <button class="nav-aside-button">

                </button>
                <button class="nav-aside-button">

                </button>

                <button class="nav-aside-button">

                </button>
                <button class="nav-aside-button">

                </button>
                <button class="nav-aside-button">

                </button>
                <button class="nav-aside-button">

                </button>
                <button class="nav-aside-button">

                </button>
            </aside>
            
        </div>
    </body>