<!DOCTYPE html>
    <html lang="esp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plantilla de prueba</title>
        <link rel="stylesheet" href="../../static/css/home.css">
        <link rel="stylesheet" href="../../static/css/general.css">
    </head>
    <body>
        <div class="principal-content">
        {% include 'nav-bar-pri.html' %}

        <main class="home-content">
                <div class="service-content">
                    <h2 class="s-title">Hola Jhoan Sanchez</h2>
<div class="user-service-content">
                        <h3 class="title-cash">$23 000COP</h3>
                        <div class="services">
                            <button class="service-button" id="add-gasto-btn">
                                <img src="{{ url_for('static', filename='img/remove-cash.svg') }}" id="cash">                                  
                                <h4>Agregar gasto</h4>
                            </button>
                            <button class="service-button" id="add-ingreso-btn">
                                <img src="{{ url_for('static', filename='img/add-cash.svg') }}" id="ingresos">  
                                <h4>Agregar ingreso</h4>
                            </button>
                            <button class="service-button" id="mas"> 
                                <img src="{{ url_for('static', filename='img/more-row.svg') }}" id="mas-img">  
                                <h4> mas</h4>
                            </button>
                        </div>
                    </div>
                </div>

                <!--informate ↑-->

                <div class="movents-content">
                    <h2 class="s-title">Transacciones recientes</h2>
                    <div id="movements" class="movements-scroll">


                    <div class="transaction-content">
                        <div class="information-content">
                            <span>Supermercado</span>
                            <time datetime="2025-06-28">28 Jun., 2025</time>
                        </div>
                    </div>

                    <div class="transaction-content">
                        <div class="information-content">
                            <span>Supermercado</span>
                            <time datetime="2025-06-28">28 Jun., 2025</time>
                        </div>
                    </div>

                    <div class="transaction-content">
                        <div class="information-content">
                            <span>Supermercado</span>
                            <time datetime="2025-06-28">28 Jun., 2025</time>
                        </div>
                    </div>
                    
                    <div class="transaction-content">
                        <div class="information-content">
                            <span>Supermercado</span>
                            <time datetime="2025-06-28">28 Jun., 2025</time>
                        </div>
                    </div>





                    </div>

                </div>

                

                

        </main>
        


        {% include 'aside.html' %}

          
        </div>
        
        <div class="modal-pb modal-pb-off" id="modal">
            <div class="ventana">
                <button onclick= "modaltogle()" ></button>
            </div>
        </div>
        <script>
            const movemnt = document.getElementById("movements");
            const modal = document.getElementById("modal");
            movemnt.addEventListener("click", () => modaltogle())


            function modaltogle() {
                modal.classList.toggle("modal-pb-on");
            }

        </script>

<!--AQUI EMPIEZA EL SCRIPT PARA QUE SALGAN LAS VENTAJAS DE INGRESOS GASTOS Y MAS (los gatos son placeholders)-->
<div id="ollie" class="imagen">
    <div class="contenido">
        <span class="cerrar">&times;</span>
    </div>
</div>
<script>
    var imagen = document.getElementById("ollie");
    var raul = document.getElementById("botonsito");
    var x = document.getElementsByClassName("cerrar")[0]

    raul.onclick = function() {
        imagen.style.display = "block";
    }
    x.onclick = function() {
        imagen.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == imagen) {
            imagen.style.display = "none";
        }
    }
</script>


<div id="ollie2" class="imagen2">
    <div class="contenido2">
        <span class="cerrar2">&times;</span>
    </div>
</div>
<script>
    var imagen2 = document.getElementById("ollie2");
    var raul2 = document.getElementById("ingresos");
    var x2 = document.getElementsByClassName("cerrar2")[0]

    raul2.onclick = function() {
        imagen2.style.display = "block";
    }
    x2.onclick = function() {
        imagen2.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == imagen2) {
            imagen2.style.display = "none";
        }
    }
</script>



<div id="ollie3" class="imagen3">
    <div class="contenido3">
        <span class="cerrar3">&times;</span>
    </div>
</div>
<script>
    var imagen3 = document.getElementById("ollie3");
    var raul3 = document.getElementById("mas");
    var x3 = document.getElementsByClassName("cerrar3")[0]

    raul3.onclick = function() {
        imagen3.style.display = "block";
    }
    x3.onclick = function() {
        imagen3.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == imagen3) {
            imagen3.style.display = "none";
        }
    }
</script>
    </body>