<!DOCTYPE html>
    <html lang="esp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plantilla de prueba</title>
        <link rel="stylesheet" href="../../static/css/home.css">
        <link rel="stylesheet" href="../../static/css/general.css">
    </head>
    <body>
        <div class="principal-content">
        {% include 'nav-bar-pri.html' %}

        <main class="home-content">
                <div class="service-content">
                    <h2 class="s-title">Hola Jhoan Sanchez</h2>
<div class="user-service-content">
                        <h3 class="title-cash">$23 000COP</h3>
                        <div class="services">
                            <button class="service-button" id="btn-ig">
                                <img src="{{ url_for('static', filename='img/remove-cash.svg') }}" id="cash">                                  
                                <h4>Agregar gasto</h4>
                            </button>
                            <button class="service-button" id="btn-eg">
                                <img src="{{ url_for('static', filename='img/add-cash.svg') }}" id="ingresos">  
                                <h4>Agregar ingreso</h4>
                            </button>
                            <button class="service-button" id="btn-more"> 
                                <img src="{{ url_for('static', filename='img/more-row.svg') }}" id="mas-img">  
                                <h4> mas</h4>
                            </button>
                        </div>
                    </div>
                </div>

                <!--informate ↑-->

                <div class="movents-content">
                    <h2 class="s-title">Transacciones recientes</h2>
                    <div id="movements" class="movements-scroll">


                    <div class="transaction-content">
                        <div class="information-content">
                            <span>Supermercado</span>
                            <time datetime="2025-06-28">28 Jun., 2025</time>
                        </div>
                    </div>

                    <div class="transaction-content">
                        <div class="information-content">
                            <span>Supermercado</span>
                            <time datetime="2025-06-28">28 Jun., 2025</time>
                        </div>
                    </div>

                    <div class="transaction-content">
                        <div class="information-content">
                            <span>Supermercado</span>
                            <time datetime="2025-06-28">28 Jun., 2025</time>
                        </div>
                    </div>
                    
                    <div class="transaction-content">
                        <div class="information-content">
                            <span>Supermercado</span>
                            <time datetime="2025-06-28">28 Jun., 2025</time>
                        </div>
                    </div>





                    </div>

                </div>

                

                

        </main>
        


        {% include 'aside.html' %}

          
        </div>

        <div class="modal-ig">
            <div class="ventana ventana-ig">
                <span class="close_btn" id="close-modal-btn">&times;</span>
                <h2>Agregar Gasto</h2>
                <form action="{{ url_for('add_ig')}}" method="post">
                    <div class="div-campo">
                        <label for="categoria">Categoría</label>
                        <select class="campo" id="categoria" name="categoria">
                            <option value="arriendo">Arriendo</option>
                            <option value="comida">Comida</option>
                            <option value="transporte">Transporte</option>
                            <option value="servicios">Servicios</option>
                            <option value="otros">Otros</option>
                        </select>
                    </div>
                    <div class="div-campo">
                        <label for="monto">Monto</label>
                        <input class="campo monto" type="text" id="monto" name="monto" placeholder="Ingrese el monto" required>
                    </div>
                    <div class="div-campo">
                        <label for="fecha ">Fecha</label>
                        <input class="campo fecha" type="date" id="fecha" name="fecha">
                    </div>

                    <button class="form_button"  type="submit">Agregar</button> 
                    
                </form>
            </div>
        </div>
        <div class="modal-eg">
            <div class="ventana ventana-ig">
                <span class="close_btn" id="close-modal-btn">&times;</span>
                <h2>Agregar ingreso</h2>
                <form>
                    <div class="div-campo">
                        <label for="categoria">Categoría</label>
                        <select class="campo" id="categoria" name="categoria">
                            <option value="arriendo">Arriendo</option>
                            <option value="comida">Comida</option>
                            <option value="transporte">Transporte</option>
                            <option value="servicios">Servicios</option>
                            <option value="otros">Otros</option>
                        </select>
                    </div>
                    <div class="div-campo">
                        <label for="monto">Monto</label>
                        <input class="campo monto" type="text" id="monto" name="monto" placeholder="Ingrese el monto" required>
                    </div>
                    <div class="div-campo">
                        <label for="fecha ">Fecha</label>
                        <input class="campo fecha" type="date" id="fecha" name="fecha">
                    </div>

                    <button class="form_button"  type="submit">Agregar</button> 
                    
                </form>
            </div>


        </div>
        </div>
        <div class="modal-more">
            <div class="ventana">
                <span class="close_btn" id="close-modal-btn">&times;</span>
            </div>
        </div>
        

    <script>
        /*
        const inputMonto = document.querySelectorAll(".monto");
        inputMonto.forEach(im => {
        im.addEventListener('input', () => {
        let valor = im.value.replace(/\D/g, ''); // Elimina todo excepto dígitos
        if (valor) {
            const formato = new Intl.NumberFormat('es-CO', {
            style: 'currency',
            currency: 'COP',
            minimumFractionDigits: 0
            }).format(valor);
        im.value = formato;
      } else {
        im.value = '';
      }
    });
        });

*/
    const hoy = new Date();
    const yyyy = hoy.getFullYear();
    const mm = String(hoy.getMonth() + 1).padStart(2, '0');
    const dd = String(hoy.getDate()).padStart(2, '0');
    const fechaActual = `${yyyy}-${mm}-${dd}`;
    document.querySelectorAll('.fecha').forEach(date=>{date.value = fechaActual});

        class modal {
            constructor(modal, btn) {
                this.modal = document.querySelector(modal);
                this.btn = document.getElementById(btn);
                // seleccionar los botones de cierre dentro del modal
                this.btn_close = this.modal.querySelectorAll(".close_btn");
                this.cancel_btn = this.modal.querySelectorAll(".cancel");

                // esperar la respuesta de obt_sel antes de abrir el modal
                this.btn.addEventListener("click", () => {

                        this.modal.classList.toggle("active");
                });
        

                this.btn_close.forEach(close => {
                    close.addEventListener("click", () => {
                        this.modal.classList.remove("active");
                        console.log(modal, "close click");
                    });
                });
                this.cancel_btn.forEach(close => {
                    close.addEventListener("click", () => {
                        this.modal.classList.remove("active");
                    });
                });

                }

            }

            const ig = new modal(".modal-ig", "btn-ig");
            const eg = new modal(".modal-eg", "btn-eg");
            const more = new modal(".modal-more", "btn-more");

        </script>
    </body>