<!DOCTYPE html>
    <html lang="esp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Index</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/Money-control(SIMPLE).SVG') }}" type="image/SVG">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    </head>
    <body>
        {% include 'nav-bar-init.html' %}
<div style="
    position: absolute;
    margin-top: 100px;">
            <ul>
                <li>
                    <a href="#">Iniciar sesion</a>
                </li>
                <li>
                    <a href="{{ url_for('signup')}}">Registrate</a>
                </li>
                <li>
                    <a href="{{ url_for('academy')}}">Home</a>
                </li>
                <li>
                    <a href="{{url_for('logout')}}">logout</a>
                </li>
            </ul>
        </div>



    </body>