<!DOCTYPE html>
    <html lang="esp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plantilla de prueba</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/informate.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    </head>
    <body>
        {% include 'nav-bar-pri.html' %}
        <main class="information">
            <div class="information-content">
                <h3 class="information-header">Videos</h3>
                <div class="information-link-contend">
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                </div>
    
    
            </div>
            <div class="information-content">
                <h3 class="information-header">Articulos</h3>
                <div class="information-link-contend">
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                </div>
                
            </div>
            <div class="information-content">
                <h3 class="information-header">Guias</h3>
                <div class="information-link-contend">
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                    <div class="link-content">contenedor</div>
                </div>
            </div>
            <a href="{{url_for('logout')}}">logout</a>
        </main>
        
        
    </body>