<!DOCTYPE html>
    <html lang="esp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plantilla de prueba</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/Money-control(SIMPLE).SVG') }}" type="image/SVG">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    </head>
    <body>
        <header class="site-header">
            <nav class="nav-bar">
                <div class="logo-home">
                    <a href="{{ url_for('index')}}">
                        <img class="logo" src="{{ url_for('static', filename='img/Money-control(SIMPLE).SVG') }}" alt="logo-principal">
                    </a>

                </div>
                <div class="nav-options">
                    <ul class="nav-options-list">
                        <li>
                            <a class="link-bar" href="#">                                   
                               <img class="icon" src="{{ url_for('static', filename='img/premium.svg') }}">
                                premium</a>
                        </li>
                        <li class="link-bar">
                            |
                        </li>
                        <li class="content-nav-buttons">
                            <button class="nav-buttons">
                                <img class="icon" src="{{ url_for('static', filename='img/Notification.svg') }}" alt="Notifications">
                            </button>
                            <button class="nav-buttons">
                                <img class="icon" src="{{ url_for('static', filename='img/Accout.svg') }}" alt="Accout">
                            </button>
                            
                            

                        </li>
                    </ul>

                </div>
                <script src="../../main/nav-bar-init.js"></script>
            </nav>

        </header>
    </body>