        <header class="site-header">
            <nav class="nav-bar">
                <div class="logo-home">
                    <a href="#">
                        <img class="logo" src="{{ url_for('static', filename='img/Money-control(SIMPLE).SVG') }}" alt="logo-principal">
                    </a>

                </div>

                <div class="nav-options">
                    <ul class="nav-options-list nav-bar-init">
                        <li>
                            <a class="link-bar" href="#">Iniciar sesion</a>
                        </li>
                        <li class="link-bar">
                            |
                        </li>
                        <li>
                            <a class="link-bar" href="#">Registrate</a>
                        </li>
                    </ul>

                </div>

                <div class ="content-menu-burger">
                    <button id="button-burger" class="button-burger" onclick="open_close_burger()">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </button>
                </div>

            </nav>
            <div id="burger-menu" class="burger-menu">
                <ul class="burger-options">
                    <li>
                        <a class="burger-link" href="#">
                            Iniciar sesion
                        </a>
                    </li>
                    <li>
                        <a class="burger-link" href="#">
                            Registrate
                        </a>
                    </li>
                    <li>
                        <a class="burger-link" href="#">
                            Conócenos
                        </a>
                    </li>
                    <li>
                        <a class="burger-link" href="#">
                            Contactanos
                        </a>
                    </li>
                </ul>

            </div>
        </nav>
        <script src="../../js/nav-bar-init.js"></script>
        </header>