

<nav class="nav-bar">
        <div class="logo-home">
            <a href="{{ url_for('index') }}">
                <img class="logo" src="{{ url_for('static', filename='img/Money-control(SIMPLE).SVG') }}" alt="logo-principal">
            </a>

        </div>

        <div class="nav-options">
            <ul class="nav-options-list nav-bar-init">
                <li>
                    <a class="link-bar" href="/contact">Contactenos</a>
                </li>
                <li class="link-bar">
                    |
                </li>
                <li>
                    <a class="link-bar" href="{{ url_for('login')}}">Iniciar sesion</a>
                </li>
                <li>
                    <a class="link-bar link-bar-s" href="{{ url_for('signup')}}">Registrate gratis</a>
                </li>
            </ul>

        </div>

        <div class ="content-menu-burger">
            <button id="button-burger" class="button-burger" onclick="open_close_burger()">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </button>
        </div>

    </nav>
    <div id="burger-menu" class="burger-menu">
        <ul class="burger-options">
            <li>
                <a class="burger-link" href="#">
                    Iniciar sesion
                </a>
            </li>
            <li>
                <a class="burger-link" href="#">
                    Registrate
                </a>
            </li>
            <li>
                <a class="burger-link" href="#">
                    Conócenos
                </a>
            </li>
            <li>
                <a class="burger-link" href="#">
                    Contactanos
                </a>
            </li>
        </ul>

    </div>
    <script>
    function open_close_burger () {
let burger_menu = document.getElementById("burger-menu");
let burger_button = document.getElementById("button-burger");
burger_menu.classList.toggle("burger-menu-active");
burger_button.classList.toggle("button-burger-active");
}
</script>
</nav>

