<nav class="nav-bar">
                <div class="logo-home">
                    <a href="{{ url_for('academy')}}">
                        <img class="logo" src="{{ url_for('static', filename='img/Money-control(SIMPLE).SVG') }}" alt="logo-principal">
                    </a>
    
                </div>
                <div class="nav-options">
                    <ul class="nav-options-list">
                        <li>
                            <a class="link-bar" href="#">                                   
                                <img class="icon" src="{{ url_for('static', filename='img/premium.svg') }}">
                                    premium
                            </a>
                        </li>
                        <li class="link-bar">
                            |
                        </li>

                        {% if user_rol == 0 %}
                        <button class="nav-buttons" id="button-dev">
                            <img class="icon" src="{{ url_for('static', filename='img/admin.svg') }}" alt="admin">
                        </button> 
                        {% endif %}


                        <li class="content-nav-buttons">
                            <button class="nav-buttons" id="button-notification">
                                <img class="icon" src="{{ url_for('static', filename='img/notification.svg') }}" alt="Notifications">
                            </button>
                            <button class="nav-buttons" id="button-accout">
                                <img class="icon" src="{{ url_for('static', filename='img/accout.svg') }}" alt="Accout">
                            </button>    
    
                        </li>
                    </ul>
    
                </div>
                <div class="content-notification" id="notification"></div>
                <div class="content-accout" id="accout"></div>
            <script>
        class toggle_notifications {
      constructor(id_obj, id_button, active_class) {
        this.active_class = active_class;
        this.button = document.getElementById(id_button);
        this.obj = document.getElementById(id_obj);
    
        this.button.addEventListener("click", () => {
          this.obj.classList.toggle(this.active_class);
          console.log(`Toggle ejecutado: ${id_obj}`);
        });
      }
    }
    
    // 👇 Crear instancias fuera de la clase
    const notification = new toggle_notifications(
      "notification",
      "button-notification",
      "active-content-notification"
    );
    
    const account = new toggle_notifications(
      "accout",
      "button-accout",
      "active-content-accout"
    );
    
        </script>
            </nav>