<!DOCTYPE html>
    <html lang="esp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plantilla de prueba</title>
        <link rel="stylesheet" href="../static/css/general.css">
        <link rel="stylesheet" href="../static/css/crud.css">
    </head>

    <body>
                    <!-- From Uiverse.io by Smit-Prajapati --> 
<div class="radio-container">
  <input checked="" id="radio-free" name="radio" type="radio" />
  <label for="radio-free">                <div class="div-user">
                        <ul>
                            <li>
                                id
                            </li>
                            <li>
                                firstname
                            </li>
                            <li>
                                lastname
                            </li>
                            <li>
                                email
                            </li>
                            <li>
                                phone
                            </li>

                            <li class="more-button-content">
                                <button class="more-button" name="more">
                                    <img class="svg-search" src="../../static/images/more.svg" alt="...">
                                </button>
                            </li>
                        </ul>
                    </div></label>
  <input id="radio-basic" name="radio" type="radio" />
  <label for="radio-basic">                <div class="div-user">
                        <ul>
                            <li>
                                id
                            </li>
                            <li>
                                firstname
                            </li>
                            <li>
                                lastname
                            </li>
                            <li>
                                email
                            </li>
                            <li>
                                phone
                            </li>

                            <li class="more-button-content">
                                <button class="more-button" name="more">
                                    <img class="svg-search" src="../../static/images/more.svg" alt="...">
                                </button>
                            </li>
                        </ul>
                    </div></label>
  <input id="radio-premium" name="radio" type="radio" />
  <label for="radio-premium">                <div class="div-user">
                        <ul>
                            <li>
                                id
                            </li>
                            <li>
                                firstname
                            </li>
                            <li>
                                lastname
                            </li>
                            <li>
                                email
                            </li>
                            <li>
                                phone
                            </li>

                            <li class="more-button-content">
                                <button class="more-button" name="more">
                                    <img class="svg-search" src="../../static/images/more.svg" alt="...">
                                </button>
                            </li>
                        </ul>
                    </div></label>

</div>

    </body>